﻿@model FizzBuzz.Web.Models.FizzBuzzModel
@using X.PagedList.Mvc.Core

@{
    ViewBag.Title = "FizzBuzzList";
}

<h2>FizzBuzzList</h2>

<hr />

@if (Model != null && Model.FizzBuzzList != null)
{
    foreach (var item in Model.FizzBuzzList)
    {
        if (item.Contains(" "))
        {
            var Messages = item.Split(' ');

            <h4>
                @foreach (var message in Messages)
                {
                    <span class="@message">@message</span>
                }
            </h4>
        }
        else
        {
            <h4 class="@item"> @item </h4>
        }
    }
}

<div class="pagination">
    Page@(Model.FizzBuzzList.PageCount < Model.FizzBuzzList.PageNumber ? 0 : Model.FizzBuzzList.PageNumber) of @Model.FizzBuzzList.PageCount
    @Html.PagedListPager(Model.FizzBuzzList, page => Url.Action("GetFizzBuzzList", new { InputNumber = Model.InputNumber, page }))
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Index</a>
</div>

<link href="~/css//FizzBuzzColor.css" rel="stylesheet" />

